ul{
    list-style-type: none;
}
header{
    padding: 30px;
}
.header-nav{
    background-color: #344D67;
}
.navbar-brand{
    text-decoration: none;
    color: #6ECCAF;
}
.nav-item:hover{
    background-color:#6ECCAF;
    padding: 3px;
    border-radius: 10px;
    color: #344D67;
}
.nav-item{
    padding: 3px;
}
.color-fuente{
    color:#6ECCAF;
}
